.about{
	&__img{
		width: 200px;
		height: 200px;
		border-radius: 50%;
	}
	&__title{
		margin-top: 0;
	}
	&__description{
		line-height: 25px;
		margin-bottom: 40px;
	}
	&__contact{
		display: block;
		margin-bottom: 15px;
	}
	&__email{
		color: #F05F40;
		transition: all .5s;
		&:hover{
			text-decoration: underline;
			transition: all .5s;
		}
	}
	&__icon{
		color: $text-color;
		padding-right: 15px;
		text-decoration: none;
		&:hover{
			text-decoration: none;
		}
		&--white{
			color: #fff;
		}
	}
}