.ancher {
    position: absolute;
    left: 50%;
    bottom: 40px;
    border: 2px solid #fff;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    margin-left: -15px;
    display: block;
    z-index: 10;
    text-align: center;
    cursor: pointer;
    &__icon {
        color: #fff;
        font-size: 20px;
        position: absolute;
        animation: mymove 1.5s infinite;
        transform: translateX(-50%);
        @keyframes mymove {
            from {
                top: 20%;
                opacity: 1
            }
            to {
            	top: 50%;
            	opacity: 1;
            }
            to {
                top: 80%;
                opacity: 0;
            }
        }
    }
}
