.block {
    &--header {
        background: url('../images/header-bg.jpg') center;
        background-size: cover;
        min-height: 100vh;
        position: relative;
    }
    &--overlay {
        background-color: rgba(44, 62, 80, 0.3);
        background-image: url("../images/pattern.png");
        background-repeat: repeat;
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 0;
    }
    &--grey{
    	background: $gray;
    }
    &--pd-md{
    	padding: 80px 0;
    }
    &--pd-sm{
        padding: 40px 0;
    }
    &--footer{
        background: #222;
    }
}
