@import "variables";

@font-face {
  font-family: 'icomoon';
  src:  url('#{$icomoon-font-path}/icomoon.eot?ajgx4o');
  src:  url('#{$icomoon-font-path}/icomoon.eot?ajgx4o#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/icomoon.ttf?ajgx4o') format('truetype'),
    url('#{$icomoon-font-path}/icomoon.woff?ajgx4o') format('woff'),
    url('#{$icomoon-font-path}/icomoon.svg?ajgx4o#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-chevron-down {
  &:before {
    content: $icon-chevron-down;
  }
}
.icon-vk {
  &:before {
    content: $icon-vk;
  }
}
.icon-email {
  &:before {
    content: $icon-email;
  }
}
.icon-facebook {
  &:before {
    content: $icon-facebook;
  }
}
.icon-github {
  &:before {
    content: $icon-github;
  }
}

