$icomoon-font-path: "fonts" !default;

$icon-chevron-up: "\e902";
$icon-chevron-down: "\e901";
$icon-vk: "\e904";
$icon-email: "\e900";
$icon-download: "\e903";
$icon-phone: "\e942";
$icon-facebook: "\ea90";
$icon-github: "\eab0";
$icon-skype: "\eac5";

