$brand-primary:   red;
$brand-secondary: #ddd;



.asd {
	background: $brand-primary;
	color: grey;
	border: 1px;
	transform: scale(2);
	border-radius: 2px;
	transition: all 0.4s;
	text-transform: uppercase;
	text-indent: asd;
}